# להתעלם מתיקיית הריצה הסודית של טראפורם
.terraform/

# להתעלם מקבצי ההפעלה של טראפורם
*.exe
terraform
terraform.exe

# להתעלם מקבצי הסטייט המקומיים (כי לכל אחד יש סטייט משלו)
*.tfstate
*.tfstate.*

# להתעלם מקבצי לוגים ותוצרים זמניים
*.log
.terraform.lock.hcl